.mdl-select {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 20px 0;
}

.mdl-select__input {
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
  display: inline-block;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  width: $input-text-width;
  background: 16px;
  text-align: left;
  color: inherit;

  option {
    color: $input-text-label-color;
  }
}

.mdl-select.is-focused .mdl-select__input {	
  outline: none;
}

.mdl-select.is-invalid .mdl-select__input { 
  box-shadow: none;
}

.mdl-select.is-disabled .mdl-select__input {
  background-color: transparent;
  border-bottom: 1px dotted rgba(0,0,0, 0.12);
}

.mdl-select__label {
  bottom: 0;
  color: $input-text-label-color;
  font-size: 16px;
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  top: 24px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left; 
}

.mdl-select.is-dirty .mdl-select__label { visibility: hidden; }

.mdl-select--floating-label .mdl-select__label {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mdl-select--floating-label.is-focused .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__label {
  color: $input-text-highlight-color;
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

.mdl-select--floating-label.is-focused .mdl-select__expandable-holder .mdl-select__label,
.mdl-select--floating-label.is-dirty .mdl-select__expandable-holder .mdl-select__label {
  top: -16px;
}

.mdl-select--floating-label.is-invalid .mdl-select__label {
  color: $input-text-highlight-color;
  font-size: 12px;
}

.mdl-select__label:after {
  background-color: $input-text-highlight-color;
  bottom: 20px;
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.mdl-select.is-focused .mdl-select__label:after {
  left: 0;
  visibility: visible;
  width: 100%; 
}

.mdl-select.is-invalid .mdl-select__label:after {
  background-color: $input-text-highlight-color;
}

// Select Help.
.mdl-select__help {
  color: $input-text-help-color;
  position: absolute;
  right: 15px;
  top: 25px;

  a {
    background-color: transparent !important;

    .material-icons {
      color: $input-text-help-color;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

// Select Error.
.mdl-select__error {
  color: $input-text-error-color;
  width: 100%;
  font-size: 12px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 50px;

  .mdl-select__error-container {
    display: table;

    .material-icons {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      width: 20px;
    }
  }

  .mdl-select.is-invalid & {
    visibility: visible;
  }
}

// Select Info.
.mdl-select__info {
  color: $input-text-info-color;
  width: 100%;
  font-size: 12px;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 50px;

  .mdl-select__info-container {
    display: table;

    .material-icons {
      display: table-cell;
      vertical-align: middle;
      font-size: 16px;
      width: 20px;
    }
  }

  .mdl-select.is-selected & {
    visibility: visible;
  }
}

.mdl-select__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  max-width: 0.1px; 
}

.mdl-select.is-focused .mdl-select__expandable-holder, .mdl-select.is-dirty .mdl-select__expandable-holder {
  max-width: 600px; 
}

.mdl-select__expandable-holder .mdl-select__label:after {
  bottom: 0;
}